n8n-workflows/sync-template-lean.json
{
  "name": "Sync Template (Lean) - Dynamic Slots",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sync-template-lean"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate Input - Node 2\nconst input = $input.first().json;\nconst errors = [];\nconst validations = {};\n\n// Required fields\nconst required = ['templated_id', 'name', 'canvas_width', 'canvas_height'];\nfor (const field of required) {\n  if (!input[field]) {\n    errors.push(`${field}: MISSING`);\n    validations[field] = 'MISSING';\n  } else {\n    validations[field] = 'OK';\n  }\n}\n\n// Numeric validation for canvas dimensions\nif (input.canvas_width !== undefined) {\n  if (typeof input.canvas_width !== 'number' || input.canvas_width <= 0) {\n    errors.push('canvas_width must be a positive number');\n    validations.canvas_width = 'INVALID';\n  }\n}\nif (input.canvas_height !== undefined) {\n  if (typeof input.canvas_height !== 'number' || input.canvas_height <= 0) {\n    errors.push('canvas_height must be a positive number');\n    validations.canvas_height = 'INVALID';\n  }\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'VALIDATION_ERROR',\n      message: errors[0],\n      details: validations,\n      _isError: true\n    }\n  }];\n}\n\n// Pass through validated data with defaults\nreturn [{\n  json: {\n    templated_id: input.templated_id,\n    name: input.name,\n    canvas_width: input.canvas_width,\n    canvas_height: input.canvas_height,\n    preview_url: input.preview_url || null,\n    is_active: input.is_active !== false,\n    supports: input.supports || ['single'],\n    _isError: false\n  }\n}];"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json._isError }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "If Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "resource": "template",
        "operation": "getTemplateLayers",
        "templateId": "={{ $('Validate Input').item.json.templated_id }}"
      },
      "id": "templated-layers",
      "name": "Templated: List Layers",
      "type": "n8n-nodes-base.templated",
      "typeVersion": 1,
      "position": [910, 200],
      "credentials": {
        "templatedApi": {
          "id": "CONFIGURE_YOUR_CREDENTIAL_ID",
          "name": "Templated.io API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Transform Data - Updated for Dynamic Slots\nconst webhookData = $('Validate Input').first().json;\nconst layers = $input.all().map(item => item.json);\n\n// NEW: Identify slot layers by naming convention\n// Any layer with 'slot' in the name is replaceable\nconst slotLayers = layers.filter(l => \n  l.layer.toLowerCase().includes('slot') && l.type === 'image'\n);\n\n// Validate at least one slot exists\nif (slotLayers.length === 0) {\n  const foundLayers = layers.map(l => `${l.layer} (${l.type})`);\n  \n  return [{\n    json: {\n      success: false,\n      error: 'LAYER_ERROR',\n      message: 'Template must have at least one slot layer (layer name must contain \"slot\", type: image)',\n      found_layers: foundLayers,\n      hint: 'Rename your image layers to include \"slot\" (e.g., slot-before, slot-after, slot-hero)',\n      _isError: true\n    }\n  }];\n}\n\nconst { canvas_width, canvas_height } = webhookData;\n\n// LEGACY: Find before/after layers for backwards compatibility\n// Support both old naming (image-before) and new naming (slot-before)\nconst beforeLayer = layers.find(l => \n  (l.layer === 'image-before' || l.layer.toLowerCase().includes('slot') && l.layer.toLowerCase().includes('before')) \n  && l.type === 'image'\n);\nconst afterLayer = layers.find(l => \n  (l.layer === 'image-after' || l.layer.toLowerCase().includes('slot') && l.layer.toLowerCase().includes('after')) \n  && l.type === 'image'\n);\n\n// Build frame preview render payload (hide all slot layers)\nconst framePreviewLayers = {};\nslotLayers.forEach(slot => {\n  framePreviewLayers[slot.layer] = { hide: true };\n});\n\n// Build Supabase record\nconst templateRecord = {\n  templated_id: webhookData.templated_id,\n  name: webhookData.name,\n  thumbnail: webhookData.preview_url,\n  templated_preview_url: webhookData.preview_url,\n  canvas_width: canvas_width,\n  canvas_height: canvas_height,\n  \n  // LEGACY: Before slot (for backwards compatibility)\n  before_slot_width: beforeLayer?.width || slotLayers[0]?.width || 400,\n  before_slot_height: beforeLayer?.height || slotLayers[0]?.height || 600,\n  before_slot_x_percent: beforeLayer ? (beforeLayer.x / canvas_width) * 100 : 5,\n  before_slot_y_percent: beforeLayer ? (beforeLayer.y / canvas_height) * 100 : 20,\n  before_placeholder_url: beforeLayer?.image_url || null,\n  \n  // LEGACY: After slot (for backwards compatibility)\n  after_slot_width: afterLayer?.width || slotLayers[1]?.width || slotLayers[0]?.width || 400,\n  after_slot_height: afterLayer?.height || slotLayers[1]?.height || slotLayers[0]?.height || 600,\n  after_slot_x_percent: afterLayer ? (afterLayer.x / canvas_width) * 100 : 52,\n  after_slot_y_percent: afterLayer ? (afterLayer.y / canvas_height) * 100 : 20,\n  after_placeholder_url: afterLayer?.image_url || null,\n  \n  // Metadata\n  supports: webhookData.supports,\n  is_active: webhookData.is_active,\n  \n  // NEW: Full layers JSON (source of truth for dynamic slots)\n  layers_json: layers,\n  \n  // Slot information for frame preview generation\n  _slotLayers: slotLayers.map(s => s.layer),\n  _framePreviewLayers: framePreviewLayers,\n  \n  _isError: false\n};\n\nreturn [{ json: templateRecord }];"
      },
      "id": "transform",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "layer-check",
              "leftValue": "={{ $json._isError }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-layers-valid",
      "name": "If Layers Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "resource": "render",
        "operation": "renderTemplate",
        "templateId": "={{ $('Validate Input').item.json.templated_id }}",
        "format": "png",
        "additionalFields": {
          "layers": "={{ JSON.stringify($json._framePreviewLayers) }}"
        }
      },
      "id": "render-frame-preview",
      "name": "Templated: Render Frame Preview",
      "type": "n8n-nodes-base.templated",
      "typeVersion": 1,
      "position": [1570, 100],
      "credentials": {
        "templatedApi": {
          "id": "CONFIGURE_YOUR_CREDENTIAL_ID",
          "name": "Templated.io API"
        }
      },
      "notes": "Renders template with slot layers hidden to create frame preview"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge frame preview URL into template record\nconst templateRecord = $('Transform Data').first().json;\nconst renderResult = $input.first().json;\n\n// Add frame preview URL from render result\ntemplateRecord.frame_preview_url = renderResult.render_url || null;\n\n// Remove internal fields before saving\ndelete templateRecord._slotLayers;\ndelete templateRecord._framePreviewLayers;\ndelete templateRecord._isError;\n\nreturn [{ json: templateRecord }];"
      },
      "id": "merge-frame-preview",
      "name": "Merge Frame Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tmgjsrxdjbazrwvbdoed.supabase.co/rest/v1/templates?on_conflict=templated_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtZ2pzcnhkamJhenJ3dmJkb2VkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3NDE3MDcsImV4cCI6MjA4MzMxNzcwN30.krSbo9fqvKkbQrjFDnQo2s7JiaXwo1wydhvaontxtFE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtZ2pzcnhkamJhenJ3dmJkb2VkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3NDE3MDcsImV4cCI6MjA4MzMxNzcwN30.krSbo9fqvKkbQrjFDnQo2s7JiaXwo1wydhvaontxtFE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"templated_id\": {{ JSON.stringify($json.templated_id) }},\n  \"name\": {{ JSON.stringify($json.name) }},\n  \"thumbnail\": {{ JSON.stringify($json.thumbnail) }},\n  \"templated_preview_url\": {{ JSON.stringify($json.templated_preview_url) }},\n  \"frame_preview_url\": {{ JSON.stringify($json.frame_preview_url) }},\n  \"canvas_width\": {{ $json.canvas_width }},\n  \"canvas_height\": {{ $json.canvas_height }},\n  \"before_slot_width\": {{ $json.before_slot_width }},\n  \"before_slot_height\": {{ $json.before_slot_height }},\n  \"before_slot_x_percent\": {{ $json.before_slot_x_percent }},\n  \"before_slot_y_percent\": {{ $json.before_slot_y_percent }},\n  \"before_placeholder_url\": {{ JSON.stringify($json.before_placeholder_url) }},\n  \"after_slot_width\": {{ $json.after_slot_width }},\n  \"after_slot_height\": {{ $json.after_slot_height }},\n  \"after_slot_x_percent\": {{ $json.after_slot_x_percent }},\n  \"after_slot_y_percent\": {{ $json.after_slot_y_percent }},\n  \"after_placeholder_url\": {{ JSON.stringify($json.after_placeholder_url) }},\n  \"supports\": {{ JSON.stringify($json.supports) }},\n  \"is_active\": {{ $json.is_active }},\n  \"layers_json\": {{ JSON.stringify($json.layers_json) }}\n}",
        "options": {}
      },
      "id": "supabase-upsert",
      "name": "Supabase: Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"template_id\": {{ JSON.stringify($json[0].id) }},\n  \"templated_id\": {{ JSON.stringify($('Validate Input').item.json.templated_id) }},\n  \"frame_preview_url\": {{ JSON.stringify($('Merge Frame Preview').first().json.frame_preview_url) }},\n  \"slot_count\": {{ $('Transform Data').first().json._slotLayers?.length || 0 }},\n  \"message\": \"Template synced successfully with frame preview\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2230, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-validation-error",
      "name": "Respond: Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "respond-layer-error",
      "name": "Respond: Layer Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Templated: List Layers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Templated: List Layers": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "If Layers Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Layers Valid": {
      "main": [
        [
          {
            "node": "Templated: Render Frame Preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Layer Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Templated: Render Frame Preview": {
      "main": [
        [
          {
            "node": "Merge Frame Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Frame Preview": {
      "main": [
        [
          {
            "node": "Supabase: Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Upsert": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "beauty-content-creator"
    }
  ],
  "triggerCount": 1
}
